* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.navContainer {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;
  z-index: 2;
  background-color: #073225;
}

.navTitlesContainer {
  display: none;
  justify-content: space-evenly;
}

.navTitlesContainer a {
  color: #fff;
  text-decoration: none;
}

.burgerButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 35px;
  width: 35px;
}

.navBurgerMenuSingleBar {
  height: 6px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}

.showMenu {
  height: 100vh;
}

.showMenu .navTitlesContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  height: 45vh;
  margin-left: 20px;
  font-size: 2em;
}

/* -- Gestion du responsive */
@media screen and (min-width: 990px) {
  /* -- Navigation Menu */
  .navContainer {
    justify-content: center;
  }
  .burgerButton {
    display: none;
  }
  .navTitlesContainer {
    display: flex;
    width: 500px;
  }
  .navTitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1281px) {
  /* -- Navigation Menu */
  .burgerButton {
    display: none;
  }
}
.welcomeBlocContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF9F8;
}

.greetingBloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  min-height: 32vh;
  width: 85vw;
  z-index: 1;
}

.greetingMessage {
  display: flex;
  flex-direction: column;
}

.greetingMessage h1, H2 {
  font-size: 2em;
}

.greetingHello {
  font-size: 3em;
}

.greetingText {
  font-size: 1.7em;
}

.welcomeIllus1 {
  position: absolute;
  top: 90px;
  right: 15px;
  height: 200px;
  width: 200px;
}

.welcomeIllus2 {
  position: absolute;
  bottom: 20px;
  margin: auto;
  height: 300px;
  width: 300px;
}

.aboutSession {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCF9F8;
}

.aboutSession-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 900px;
  padding: 0 20px;
}

.aboutSession-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  margin-top: 20px;
}

.aboutSession-titles h2 {
  color: #DC4646;
  font-size: 1.2em;
}

.aboutSession-titles h3 {
  width: 100%;
  font-size: 1.3em;
}

.aboutSession-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.aboutSession-profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.skillsSession {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCF9F8;
}

.skillsSession-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 20px;
  outline: solid 1px red;
}

.skillsSession-titles h2 {
  color: #DC4646;
  font-size: 1.2em;
}

.skillsSession-titles h3 {
  width: 100%;
  font-size: 1.3em;
}

/*# sourceMappingURL=style.css.map */
