* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.bg-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: coral;
}

.bg-image {
  position: relative;
  width: 100%;
}

.navContainer {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;
  z-index: 2;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.navTitlesContainer {
  display: none;
  justify-content: space-evenly;
}

.navTitlesContainer a {
  color: #fff;
  text-decoration: none;
}

.navTitle {
  font-family: "Lato", sans-serif;
}

/* __ Burger Menu button */
.menu-button {
  outline: solid 1px red;
  position: absolute;
  top: 24px;
  right: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 30px;
}

.menu-button-burger {
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

/* __ Burger Menu : Animation */
@keyframes burger-to-cross-positive {
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
@keyframes burger-to-cross-negative {
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}
.menu-open .burger-2 {
  background: transparent;
  transform: translateX(100%);
  display: hidden;
}

.menu-open .burger-1 {
  animation: burger-to-cross-positive 1s ease-in-out forwards;
}

.menu-open .burger-3 {
  animation: burger-to-cross-negative 1s ease-in-out forwards;
}

.showMenu {
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.showMenu .navTitlesContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  height: 45vh;
  margin-left: 20px;
  font-size: 2em;
}

/* -- Gestion du responsive */
@media screen and (min-width: 990px) {
  /* __ Navigation Menu */
  .navContainer {
    justify-content: center;
  }
  /* __ Burger Menu button */
  .navTitlesContainer {
    display: flex;
    width: 500px;
  }
  .navTitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1281px) {
  /* -- Navigation Menu */
  /* __ Burger Menu button */
}
.welcomeBlocContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: none;
  background-size: 100vw auto;
  background-position-y: -115px;
}

.greetingBloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  min-height: 32vh;
  width: 85vw;
  z-index: 1;
}

.greetingMessage {
  display: flex;
  flex-direction: column;
}

.greetingMessage h1, H2 {
  font-size: 2em;
}

.greetingHello {
  font-size: 3em;
}

.greetingText {
  font-size: 1.7em;
}

.welcomeIllus1 {
  position: absolute;
  top: 90px;
  right: 15px;
  height: 200px;
  width: 200px;
}

.welcomeIllus2 {
  position: absolute;
  bottom: 20px;
  margin: auto;
  height: 300px;
  width: 300px;
}

.aboutSession {
  min-height: 100vh;
  width: 100vw;
}

.aboutSession-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 1050px;
  padding: 20px 20px;
}

.aboutSession-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  outline: solid 1px black;
}

.aboutSession-titles h2 {
  color: #DC4646;
  font-size: 1.2em;
  font-family: "Roboto Flex", sans-serif;
}

.aboutSession-titles h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 14px;
  transform: skew(-12deg) translateX(0%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.aboutSession-titles h3 {
  width: 100%;
  font-size: 1.7em;
  font-family: "Slabo 27px", serif;
}

.aboutSession-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 850px;
  width: 100%;
  outline: solid 1px black;
}

.aboutSession-profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.aboutSession-description {
  text-align: justify;
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
}

.aboutSession-button {
  display: flex;
  justify-content: end;
  width: 100%;
  outline: solid 1px black;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.skillsSession {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCF9F8;
}

.skillsSession-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 20px;
}

.skillsSession-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  outline: solid 1px black;
}

.skillsSession-titles h2 {
  color: #DC4646;
  font-size: 1.2em;
  font-family: "Roboto Flex", sans-serif;
}

.skillsSession-titles h3 {
  width: 100%;
  font-size: 1.7em;
  font-family: "Slabo 27px", serif;
}

.logo {
  height: 80px;
  width: 80px;
  background-color: lightcyan;
  object-fit: cover;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.logo-bloc {
  outline: solid black 1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
