*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// body{
//     height: 100vh;
//     width: 100vw;
// }

header{
    width: 100vw;
}

/* __ Variables */

$outline-yellow: solid 1px yellow;
$outline: solid 1px;
$dev-bg: RGBA(185, 184, 181, 0.3);
$primary-color: #1B292A; //dark-gunmetal
$secondary-color: #BF9000; //light gold
$tertiary-color: #F3F8FC; //himalayan white
$quaternary-color: rgba(217, 218, 212, 1); //timberwolf
$quinary-color: #8BD3E6; //sky blue

/* __ Separator */

.section-separator{
    height: 100px;
    background: rgb(27,41,42);
    background: linear-gradient(180deg, rgba(27,41,42,1) 2%, rgba(217,218,212,0.3) 100%); 
}

/* __ Wrapper */

.main-wrapper{
    outline: solid 1px yellow;
    //z-index: 0;
    display: flex;
    align-items: center;
    min-height: 100%;
    width: 90%;
    //padding-top: 20px;
    margin: 0 auto;
}


/* __ Titles with underline */

.title-with-underline-container{
    position: relative;
    z-index: 1;
    width: fit-content;
    outline: $outline-yellow;
}

.underline{
    position: absolute;
    height: 45%;
    width: calc(100% + 6px);
    bottom: 0;
    transform: skew(-13deg);
    background-color: $secondary-color;
    border-radius: 4%;
}

/* __ Section titles styling */

.section-title{
    //outline: $outline red;
    position: relative;
    z-index: 1;
    //margin-top: 20px;
    //padding-left: 10px;
    font-family: 'Mada', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    transform: translateX(3px);
    color: $primary-color; 
}

.section-subtitle{
    padding-top: 15px;
    font-family: 'Lustria', serif;
    font-size: 1.3em;
    text-align: center;
    color: $primary-color;
}

.bg-image-container{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: coral;
    //background-image: url('/assets/images/header_background.jpg');
    //background-repeat: none;
    //background-size: cover;
    //background-position-y: -115px;
    //overflow-x: hidden;
}

.bg-image{
    position: relative;
    width: 100%;
}
