*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    width: 100vw;
}

.bg-image-container{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: coral;
    //background-image: url('/assets/images/header_background.jpg');
    //background-repeat: none;
    //background-size: cover;
    //background-position-y: -115px;
    //overflow-x: hidden;
}

.bg-image{
    position: relative;
    width: 100%;
}
