.navContainer{
    
    display:  none;
    position: fixed;
    z-index: 4;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: #fff;
    
}

.navTitlesContainer{
    outline: solid 1px red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
    height: 45vh;
    margin-left: 20px;
}

.navTitlesContainer a{
    
    color: #000;
    text-decoration: none;
    font-size: 2em;
}

.navTitle{
    font-family: 'Lustria', serif;
}

/* __ Burger Menu button */

    .menu-button-circle{
        //outline: solid 0.5px $primary-color;
        position: fixed;
        top: 24px;
        right: 20px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        //background-color: $tertiary-color;
        //box-shadow: 2px 1px #000;
        z-index: 15;
    }

    .menu-button{
        
        height: 21px;
        width: 30px;
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
  
    }

    .menu-button-burger
    {
        height: 2px;
        width: 100%;
        background-color: $secondary-color;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
        box-shadow: 1px 0px $primary-color;

    }

    /* __ Burger Menu : Animation */

    .menu-button:hover{
        cursor: pointer;
    }

    @keyframes burger-to-cross-positive{
        50%{
            transform: translateY(9px);
        }
        90%{
            transform: translateY(9px) rotate(45deg);
        }
        100%{
            transform: translateY(9px) rotate(45deg);
            background-color: $primary-color; 
        }
    }

    @keyframes burger-to-cross-negative{
        50%{
            transform: translateY(-9px);
        }
        90%{
            transform: translateY(-9px) rotate(-45deg);
        }
        100%{
            transform: translateY(-9px) rotate(-45deg);
            background-color: $primary-color;
        }
    }

    @keyframes cross-to-burger-positive{
        0%{
            transform: translateY(9px) rotate(45deg);
        }
        50%{
            transform: translateY(9px) rotate(0);
        }
    }

    @keyframes cross-to-burger-negative{
        0%{
            transform: translateY(-9px) rotate(-45deg);
        }
        50%{
            transform: translateY(-9px) rotate(0);
        }
    }

    .menu-open .burger-2
    {
        background-color: $primary-color;
        opacity: 0;
        transform: translateX(100%);
        //display: hidden;
    }

    .menu-open .burger-1
    {
        animation: burger-to-cross-positive 0.5s ease-in-out forwards;
    }

    .menu-close .burger-1
    {
        animation: cross-to-burger-positive 0.5s ease-in-out forwards;
    }

    .menu-open .burger-3
    {
        animation: burger-to-cross-negative 0.5s ease-in-out forwards;
    }

    .menu-close .burger-3
    {
        animation: cross-to-burger-negative 0.5s ease-in-out forwards;
    }

    

// Apparition du menu déroulant

.showMenu{
    display: flex;
}