/* -- Gestion du responsive */

@media screen and (min-width: 576px){


}


@media screen and (min-width: 737px){

    /* __ Welcome Page */

    .greetingHello{
        font-size: 6em;
    }

    .greetingText{
        font-size: 2.5em; 
    }

    .greetingMessage h1, h2{
        font-size: 3.5em;
        //text-align: center;
    }

    /* __ About Page */

    .about-content{
        padding: 12vh 0;
        justify-content: space-evenly;
    }

    .about-description{
        width: 650px;
    }
    
    



}
 

 @media screen and (min-width: 990px){

    /* __ Navigation Menu */
    
    .navContainer{
        justify-content: center;
    }

    /* __ Burger Menu button */   


    .navTitlesContainer{
        display: flex;
        width: 500px;
    }

    .navTitle{
        font-size: 20px;
    }

    /* __ WelcomePage */
    


}

@media screen and (min-width: 1281px){

    /* -- Navigation Menu */

    /* __ Burger Menu button */

    /* __ WelcomePage */
    

}