/* -- Gestion du responsive */

@media screen and (min-width: 576px){

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 3.8em;
    }

    .welcome-emoji{
        font-size: 4.3em;
    }

    .welcome-text{
        font-size: 2em;
        line-height: 1.7em;
    }

    h1{
        font-size: 2.5em;
    }

    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px;
    }


}


@media screen and (min-width: 737px){

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 3.9em;
    }

    .welcome-emoji{
        font-size: 4.4em;
    }

    .welcome-text{
        font-size: 2.1em;
        line-height: 1.8em;
    }

    h1{
        font-size: 2.6em;
    }

    /* __ About Page */

    .about-content{
        padding: 12vh 0;
        justify-content: space-evenly;
    }

    .about-description{
        width: 650px;
    }
    
    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px;
    }
    



}
 

 @media screen and (min-width: 990px){

    /* __ Welcome Page */

        .welcom-bloc{
            height: 65vh;
        }

        .welcome-greetings{
            font-size: 4em;
        }
    
        .welcome-emoji{
            font-size: 4.5em;
        }
    
        .welcome-text{
            font-size: 2.3em;
            line-height: 1.8em;
        }
    
        h1{
            font-size: 2.8em;
        }

    /* __ Navigation Menu */
    
    .navContainer{
        justify-content: center;
    }

    /* __ Burger Menu button */   


    .navTitlesContainer{
        display: flex;
        width: 500px;
    }

    .navTitle{
        font-size: 20px;
    }

    /* __ WelcomePage */
    
    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px 150px;
    }

    .logo-bloc span{
        font-size: 1.1em;
    }


}

@media screen and (min-width: 1281px){

    /* __ General */

    .main-wrapper{
        width: 70%;
    }

    /* -- Navigation Menu */

    /* __ Burger Menu button */

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 4em;
    }

    .welcome-emoji{
        font-size: 4.5em;
    }

    .welcome-text{
        font-size: 2.6em;
        line-height: 1.7em;
        letter-spacing: 0.1em;
    }

    h1{
        font-size: 3em;
    }

    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    }
    

}