/* -- Gestion du responsive */

@media screen and (min-width: 576px){

    /* __ Illustration */

    .illustration-1{
        width: 60%;
        right: 0;
        //transform: translateY(-160px);
    }

    .illustration-2{
        width: 50%;
        left: 0;
        //transform: translateY(-160px);
    }

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 3.8em;
    }

    .welcome-emoji{
        font-size: 4.3em;
    }

    .welcome-text{
        font-size: 2em;
        line-height: 1.7em;
    }

    h1{
        font-size: 2.5em;
    }

    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px;
    }

    .skills-text{
        font-size: 1.2em;
        text-align: left;
    }


}    .skills-text{
    font-size: 1.2em;
    text-align: left;
}
@media screen and (min-width: 737px){

    /* __General */

    .underline{
        width: calc(100% + 10px);
    }
    
    .section-title{
        font-size: 1.5em;
        letter-spacing: 0.1em;
        transform: translateX(5px);
    }

    .section-subtitle{
        font-size: 1.6em;
        text-align: left;
        padding-left: 20px;
    }

    footer{
        font-size: 1.2em;
    }

    /* __ Illustration */

    .illustration-1{
        width: 55%;
        //right: 5%;
        //transform: translateY(-225px) translateX(40px);
    }

    .illustration-2{
        width: 45%;
        //right: 5%;
        //transform: translateY(-225px) translateX(40px);
    }
    

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 3.9em;
    }

    .welcome-emoji{
        font-size: 4.4em;
    }

    .welcome-text{
        font-size: 2.1em;
        line-height: 1.8em;
    }

    h1{
        font-size: 2.6em;
    }

    /* __ About Page */

    .about-content{
        padding: 5vh 0;
        justify-content: space-evenly;
    }

    .about-description{
        width: 650px;
    }
    
    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px;
    }

    /*__Contact Page */

    .contact-email-container{
        font-size: 1.4em;
    }

    .contact-logo{
        font-size: 2.2em;
    }
    



}

 @media screen and (min-width: 990px){

    /* __ General */
    /* __ Illustration */

    .illustration-1{
        width: 50%;
        //transform: translateY(-250px) translateX(40px);
    }

    .illustration-2{
        width: 40%;
        //left: 0;
        //transform: translateY(-250px) translateX(40px);
    }

    /* __ Navigation Menu */
    
    .navContainer{
        justify-content: center;
    }

    /* __ Burger Menu button */   


    .navTitlesContainer{
        display: flex;
        width: 500px;
    }

    .navTitle{
        font-size: 20px;
    }
    
    /* __ Welcome Page */

        .welcome-bloc{
            height: 65vh;
        }

        .welcome-greetings{
            font-size: 4em;
        }
    
        .welcome-emoji{
            font-size: 4.5em;
        }
    
        .welcome-text{
            font-size: 2.3em;
            line-height: 1.8em;
        }
    
        h1{
            font-size: 2.8em;
        }
    
    /* __ About Page */

    .about-profile-picture{
        margin: 30px 30px;
        height: 275px;
        width: 275px;
    }

    .about-description{
        width: 700px;
        font-size: 1.3em;
    }

    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px 150px;
    }

    .logo-bloc span{
        font-size: 1.1em;
    }

    .skills-text{
        font-size: 1.3em;
    }


}

@media screen and (min-width: 1281px){

    /* __ General */

    .main-wrapper{
        width: 80%;
    }

    .underline{
        width: calc(100% + 12px);
    }
    
    .section-title{
        transform: translateX(6px);
    }

    .section-subtitle{
        font-size: 1.7em;
    }
    
    /* __ Illustration */

    .illustration-1{
        width: 40%;
        //transform: translateY(-250px) translateX(40px);
    }

    .illustration-2{
        width: 30%;
        //left: 0;
        //transform: translateY(-250px) translateX(40px);
    }


    /* -- Navigation Menu */

    /* __ Burger Menu button */

    /* __ Welcome Page */

    .welcome-greetings{
        font-size: 4em;
    }

    .welcome-emoji{
        font-size: 4.5em;
    }

    .welcome-text{
        font-size: 2.6em;
        line-height: 1.7em;
        letter-spacing: 0.1em;
    }

    h1{
        font-size: 3em;
    }

    /* __ About Page */
    .about-content{
        padding: 6vh 0;
        justify-content: center;
    }

    .about-description{
        width: 730px;
        font-size: 1.4em;
    }

    .about-profile-picture{
        margin: 30px 30px;
        height: 300px;
        width: 300px;
    }


    /* __ Skills Page */
    
    .logos-container{
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    }

    .skills-text{
        font-size: 1.4em;
    }
    

}