.welcomeBlocContainer{

    outline: solid 1px red;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;

    justify-content: center;
    align-items: center;

    background-image: url('/assets/images/pexels-simon-berger-1323550.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 100vh;
    background-position: bottom right;

    font-family: 'Lustria', serif;
    color: #000;

}   

.greetingBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 85vw;
    z-index: 1;

    color: #fff;
    text-shadow: 2px 1px #000;

    text-align: center;
}

.greetingMessage{

    display: flex;
    flex-direction: column;
    
}


.greetingMessage h1,H2{
    font-size: 2.2em;
    text-align: center;
}


.greetingHello{
    font-size: 4em;
}

.greetingHello::after{
    content: "👋";
    text-shadow: none;
    margin-left: 20px;
}

.greetingText{
    font-size: 2em; 
}

.welcomeIllus1{
    position: absolute;
    top: 90px;
    right: 15px;

    height: 200px;
    width: 200px;
}

.welcomeIllus2{
    position: absolute;
    bottom: 20px;
    margin: auto;

    height: 300px;
    width: 300px;
}
