.todev{
    display: none;
}

.welcome{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/pexels-creative-vix-9754.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 100vh;
    background-position: bottom;
    z-index: -2;
}   

.welcome-bloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 100%;
    color: $tertiary-color;
}

.welcome-greetings{
    font-family: 'Prata', serif;
    font-size: 3.5em;
    text-shadow: 0.5px 0.5px $primary-color;
}

.welcome-underline{
    position: absolute;
    z-index: -1;
    height: 45%;
    width: 120%;
    bottom: 0;
    transform: skew(-13deg) translateX(-10%);
    background-color: $secondary-color;
    border-radius: 4%;
}

.welcome-emoji{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4em;
    text-align: center;
}

.welcome-text{
    font-size: 1.7em;
    line-height: 1.7em;
    font-family: 'Mada', sans-serif;
    text-shadow: 1px 1px $primary-color;
    text-align: center;
}

.welcome-name{
    font-family: 'Prata', serif;
    border-bottom: solid 1px $secondary-color;
    line-height: 1.5em;
}

h1{
    font-family: 'Lustria', serif;
    font-size: 2.2em;
}
